{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "ignoreUnusedImports": true,
  "ignoreUnusedLabels": true,
  "ignoreUnusedFunctions": true,
  "ignoreUnusedClasses": true,
  "ignoreUnusedConstants": true,
  "ignoreUnusedVariables": true
}