fastapi==0.104.1
starlette==0.27.0
anyio
sniffio
idna
distro
regex
protobuf
cffi
bitarray
lazy_loader
rapidfuzz
click
h11
uvicorn==0.24.0
python-multipart
python-dotenv
gunicorn==21.2.0
httpcore
certifi
jiter
babeldoc==0.4.15
bitstring
configargparse
httpx[socks]
huggingface-hub
numpy>=2.0.2
onnx>=1.18.0
onnxruntime>=1.16.1
openai>=1.59.3
orjson
charset-normalizer
cryptography
peewee
psutil
pymupdf>=1.25.1
rich>=13.9.4
toml
tqdm
xsdata[cli,lxml,soap]>=24.12
msgpack
pydantic==2.11.7
pydantic-core==2.33.2
typing_extensions>=4.8.0
typing_inspection>=0.4.0
annotated-types>=0.6.0
tenacity
scikit-image>=0.25.2
freetype-py>=2.5.1
tiktoken>=0.9.0
python-levenshtein>=0.27.1
opencv-python-headless>=4.10.0.84
rapidocr-onnxruntime>=1.4.4
pyzstd>=0.17.0
hyperscan>=0.7.13
rtree
chardet
scipy>=1.15.3
uharfbuzz
pygments
xsdata
annotated_types
pip
google-cloud-storage==2.13.0
google-cloud-core
backoff
