@import "tailwindcss" prefix(sz) important;

@font-face {
  font-family: 'Ycomputer-Regular';
  src: url('/src/assets/fonts/Ycomputer-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-dgm: 'DungGeunMo', 'sans-serif';
  --font-ycom: 'Ycomputer-Regular', 'sans-serif';
}
